# LOYALEY - Grafana Datasource Provisioning

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  - name: PostgreSQL
    type: postgres
    url: db:5432
    database: loyaley
    user: ${DB_USER}
    secureJsonData:
      password: ${DB_PASSWORD}
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
    editable: false

  - name: Redis
    type: redis-datasource
    url: redis:6379
    jsonData:
      client: standalone
    editable: false
